 /*-------Footer-----*/

 footer {
    padding: 60px 0 30px 0;
    .footer-dtl {
      .footer-cntct {
         h3{
    font-size: 2.8rem;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: $hd-blue;
      }
      p, .cntct-info span{
    font-size: 1.4rem;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
      }
    }

      .footer-links { 
        h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: $hd-blue;
    position: relative;
    padding-bottom: 12px;
      }
      ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
    padding: 10px 0;
    display: flex;
    align-items: center;

    i {
    padding-right: 2px;
    color: $light-blue;
    font-size: 1.8rem;
    line-height: 1;
    }

    a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    }

    &:first-child {
      padding-top: 0;
    }
    }
      }
      P{
        font-size: 1.5rem;
      }

      .social-links a {
    font-size: 1.8rem;
    display: inline-block;
    background: $light-blue;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
      }
    }
  }
}

.footer-btm {
    padding: 10px 0;
    display: flex;
span {
    color: #fff;
    font-size: 1.4rem;
}
    .copyright {
    float: left;
    }    
    .credits {
    float: right;
    }
}
