  $hd-blue: #37517e;
  $light-blue: #ed2000;
  $bg-gray: #f3f5fa;
  $text-color: #444444;

  .hd-blue {
    background-color: #91483d;
  }

  .light-blue {
    background-color: #ed2000;
  }

  .bg-gray {
    background-color: #f3f5fa;
  }

  .text-color {
    background-color: #444444;
  }