  $hd-blue: #37517e;
  $light-blue: #47b2e4;
  $bg-gray: #f3f5fa;
  $text-color: #444444;

  .hd-blue {
    background-color: #37517e;
  }
  .light-blue {
    background-color: #47b2e4;
  }
  .bg-gray {
    background-color: #f3f5fa;
  }
  .text-color {
    background-color: #444444;
  }